<form action="/links" method="post">
  <section>
    <p>
      <label for="title">Title</label>
      <input id="title" type="text" name="title">
    </p>
    <p>
      <label for="url">Url</label>
      <input id="url" type="text" name="url">
    </p>
    <p>
      <button type="submit">Add Bookmark</button>
    </p>
  </section>
</form>